<div [ngSwitch]="view!.type!.name!">
  <div *ngSwitchCase="'ListView'">
      <app-rn-list-view [items]="items"></app-rn-list-view>
  </div>
  <div *ngSwitchCase="'MapView'">
    <app-rn-map-view [items]="items" [item]="item" [events]="events" [tabIndex]="tabIndex"></app-rn-map-view>
  </div>
  <div *ngSwitchCase="'CalendarView'">
      <app-rn-calendar-view [items]="items"></app-rn-calendar-view>
  </div>
  <div *ngSwitchCase="'BoardView'">
    <app-rn-board-view></app-rn-board-view>
  </div>
  <div *ngSwitchCase="'DocumentView'">
    <app-rn-document-view></app-rn-document-view>
  </div>
  <div *ngSwitchCase="'DrawingView'">
    <app-rn-drawing-view></app-rn-drawing-view>
  </div>
  <div *ngSwitchCase="'ImageView'">
    <app-rn-image-view></app-rn-image-view>
  </div>
  <div *ngSwitchCase="'VideoView'">
    <app-rn-video-view></app-rn-video-view>
  </div>
  <div *ngSwitchCase="'MapView'">
  </div>
  <div *ngSwitchCase="'PageView'">
    <app-rn-page-view></app-rn-page-view>
  </div>
  <div *ngSwitchCase="'PanelView'">
    <app-rn-panel-view></app-rn-panel-view>
  </div>
  <div *ngSwitchCase="'SceneView'">
    <app-rn-scene-view></app-rn-scene-view>
  </div>
  <div *ngSwitchCase="'PropertiesView'">
    <app-rn-properties-view></app-rn-properties-view>
  </div>
  <div *ngSwitchCase="'QueryView'">
    <app-rn-query-view></app-rn-query-view>
  </div>
  <div *ngSwitchCase="'CardsView'">
    <app-rn-cards-view [items]="items"></app-rn-cards-view>
  </div>
  <div *ngSwitchCase="'TreeView'">
    <app-rn-tree-view [items]="items"></app-rn-tree-view>
  </div>
  <div *ngSwitchCase="'EditView'">
    <app-rn-edit-item-view [item]="item"></app-rn-edit-item-view>
  </div>
  <div *ngSwitchCase="'CreateView'">
    <app-rn-create-item-view [item]="item"></app-rn-create-item-view>
  </div>
  <div *ngSwitchCase="'ItemView'">
    <app-rn-item-view [item]="getItemViewTarget(items)"></app-rn-item-view>
  </div>
  <div *ngSwitchDefault>
    <div *ngIf="view">
      <div *ngIf="isCtrlView(view)">
        <app-rn-ctrl-view [control]="view" [item]="item" (onEvents)="onEventHandler($event)"></app-rn-ctrl-view>
      </div>
      <div *ngIf="!isCtrlView(view)">
        Unhandled type: {{view.type!.name!}}
      </div>
    </div>
  </div>
</div>

