<ng-container [ngSwitch]="view!.type!.name!">
  <div *ngSwitchCase="'ListView'">
      <app-rn-list-view [items]="items"></app-rn-list-view>
  </div>
  <div *ngSwitchCase="'MapView'">
    map!!!
    <app-rn-map-view [items]="items"></app-rn-map-view>
  </div>
  <div *ngSwitchCase="'CalendarView'">
      <app-rn-calendar-view [items]="items"></app-rn-calendar-view>
  </div>
  <div *ngSwitchCase="'BoardView'">
    <app-rn-board-view></app-rn-board-view>
  </div>
  <div *ngSwitchCase="'DocumentView'">
    <app-rn-document-view></app-rn-document-view>
  </div>
  <div *ngSwitchCase="'DrawingView'">
    <app-rn-drawing-view></app-rn-drawing-view>
  </div>
  <div *ngSwitchCase="'ImageView'">
    <app-rn-image-view></app-rn-image-view>
  </div>
  <div *ngSwitchCase="'VideoView'">
    <app-rn-video-view></app-rn-video-view>
  </div>
  <div *ngSwitchCase="'MapView'">
    <app-rn-map-view></app-rn-map-view>
  </div>
  <div *ngSwitchCase="'PageView'">
    <app-rn-page-view></app-rn-page-view>
  </div>
  <div *ngSwitchCase="'PanelView'">
    <app-rn-panel-view></app-rn-panel-view>
  </div>
  <div *ngSwitchCase="'SceneView'">
    <app-rn-scene-view></app-rn-scene-view>
  </div>
  <div *ngSwitchCase="'PropertiesView'">
    <app-rn-properties-view></app-rn-properties-view>
  </div>
  <div *ngSwitchCase="'QueryView'">
    <app-rn-query-view></app-rn-query-view>
  </div>
  <div *ngSwitchCase="'CardsView'">
    <app-rn-cards-view></app-rn-cards-view>
  </div>
  <div *ngSwitchCase="'TreeView'">
    <app-rn-tree-view [items]="items"></app-rn-tree-view>
  </div>
  <!--
      <ng-container [ngSwitch]="view.type">

          <div fxLayout="row wrap" class="card-deck-container" fxLayoutAlign="center center" *ngSwitchCase="'CardsView'">
            <app-card-view [items]="items" (onRefresh)="refresh()"></app-card-view>
          </div>
          <div *ngSwitchCase="'List'">
            <app-list-view [items]="items" (onRefresh)="refresh()"></app-list-view>
          </div>
          <div *ngSwitchCase="'Map'">
            <app-map-view  [items]="items" [location]="location"  (centerChanged)="onCenterChanged($event)"></app-map-view>
          </div>
          <div *ngSwitchCase="'Calendar'">
            <app-calendar-view [items]="items" (onRefresh)="refresh()" ></app-calendar-view>
          </div>
          <div *ngSwitchCase="'Board'" >
            <app-board-view [items]="items" (onRefresh)="refresh()"></app-board-view>
          </div>

          <div *ngSwitchDefault>
              View not supported
            </div>
          </ng-container>
  -->
  <!--
      <div fxLayout="row wrap" class="card-deck-container" fxLayoutAlign="center center" *ngSwitchCase="'CardsView'">
        <app-card-view [items]="items" (onRefresh)="refresh()"></app-card-view>
      </div>
      <div *ngSwitchCase="'ListView'">
        <app-list-view [items]="items" (onRefresh)="refresh()"></app-list-view>
      </div>
      <div *ngSwitchCase="'MapView'">
        <app-map-view  [items]="items"  (centerChanged)="onCenterChanged($event)"></app-map-view>
      </div>
      <div *ngSwitchCase="'CalendarView'">
        <app-calendar-view [items]="items" (onRefresh)="refresh()" ></app-calendar-view>
      </div>
      <div *ngSwitchCase="'BoardView'" >
        <app-board-view [items]="items" (onRefresh)="refresh()"></app-board-view>
      </div>
      <div *ngSwitchDefault>
        View not supported
      </div>
  -->
  <div *ngSwitchDefault>
    <div *ngIf="isControl">
      <app-rn-ctrl-view [control]="view"></app-rn-ctrl-view>
    </div>
    <div *ngIf="!isControl">
      Unhandled type: {{view!.type!.name!}}
    </div>
  </div>
</ng-container>

