<div fxFlexFill fxLayout="column" fxLayoutAlign="center center">
    <mat-stepper orientation="vertical" [linear]="true" #stepper fxFlexFill>aa
        <mat-step *ngFor="let step of steps; let index = index" [stepControl]="formGroup!">
            <ng-template matStepLabel>{{step.name}}</ng-template>
            <ng-template matStepContent>
                <app-rn-step-ctrl [item]="item" [control]="step" [formGroup]="formGroup!"></app-rn-step-ctrl>
                <button mat-button matStepperPrevious *ngIf="index > 0">Previous</button>
                <button mat-button matStepperNext *ngIf="index < steps.length - 1">Next</button>
            </ng-template>
        </mat-step>
    </mat-stepper>
</div>

