<div fxLayout="column" fxFlexFill>
  <div fxFlexFill>
      <nav mat-tab-nav-bar color="primary" [tabPanel]="" fxFlexFill>
          <div fxLayout="row" fxLayoutGap="5px" fxFlexFill>
            <nav mat-tab-nav-bar fxLayout="row" backgroundColor="primary" fxFlexFill>
              <div fxFlex="1 0 5%">
                <button mat-mini-fab [matMenuTriggerFor]="menu" color="primary" style="background: url('../assets/vslogo.png') center no-repeat;" center no-repeat></button>
              </div>
              
              <div fxFlex="0 1 90%" fxLayoutAlign="center center">
                <button mat-flat-button *ngIf="item" color="primary" ><mat-icon>{{getIcon(item)}}</mat-icon><span>{{item.name}}</span></button>
              </div>
              
              <mat-menu #menu="matMenu">
                  <ng-container  *ngFor="let app of apps">
                      <ng-container [ngSwitch]="app!.type!.name">
                        <app-rn-login-view [login]="app" [button]="true" *ngSwitchCase="'Login'"></app-rn-login-view>
                        <button mat-menu-item color="primary" routerLinkActive="nav-active" routerLink="/items/{{app.id}}" *ngSwitchDefault><mat-icon>{{getIcon(app)}}</mat-icon><span>{{app.name}}</span></button>
                      </ng-container>
                  </ng-container>
              </mat-menu>
              <div fxFlex="1 0 5%" fxLayoutAlign="center center">
                <button mat-mini-fab [matMenuTriggerFor]="menuMore" *ngIf="item" color="primary"><mat-icon>more_vert</mat-icon></button>
              </div>
              
              <mat-menu #menuMore="matMenu" xPosition="before">
                  <button *ngFor="let menuItem of getItemMenuItems(item!)" mat-menu-item (click)="presentForm(menuItem.form!, menuItem.import, uploader)">
                    <mat-icon>{{menuItem.icon}}</mat-icon>
                    <span>{{menuItem.name}}</span>
                  </button>
                  <input hidden type="file" #uploader (change)="importFile($event)"/>
                  <!--
                  <button *ngIf="canAddItem()" mat-menu-item (click)="addItem()">
                    <mat-icon>add</mat-icon>
                    <span>Add Item</span>
                  </button>
                  
                  <button *ngIf="canAddItem()" mat-menu-item (click)="addLink()">
                    <mat-icon>link</mat-icon>
                    <span>Link Item</span>
                  </button>
                  -->
                  <!--
                  <button *ngIf="canEditOrDeleteItem()" mat-menu-item (click)="editItem()">
                    <mat-icon>edit</mat-icon>
                    <span>Edit Item</span>
                  </button>
                  <button *ngIf="canEditOrDeleteItem()" mat-menu-item (click)="editQuery()">
                    <mat-icon>search</mat-icon>
                    <span>Edit Item Query</span>
                  </button>
                  <button *ngIf="canEditOrDeleteItem()" mat-menu-item (click)="deleteItem()">
                    <mat-icon>delete</mat-icon>
                    <span>Delete Item</span>
                  </button>
                  <mat-divider></mat-divider>
                  <button *ngIf="canAddView()" mat-menu-item (click)="uploader.click()">
                    <mat-icon>file_upload</mat-icon>
                    <span>Upload File</span>
                  </button>
                  <input hidden type="file" #uploader (change)="importFile($event)"/>
                  <mat-divider></mat-divider>
                  <button *ngIf="canAddView()" mat-menu-item (click)="addView()">
                    <mat-icon>add</mat-icon>
                    <span>Add View</span>
                  </button>
                  <button *ngIf="canEditOrDeleteView()" mat-menu-item (click)="editView()">
                    <mat-icon>edit</mat-icon>
                    <span>Edit View</span>
                  </button>
                  <button *ngIf="canEditOrDeleteView()" mat-menu-item (click)="deleteView()">
                    <mat-icon>delete</mat-icon>
                    <span>Delete View</span>
                  </button>
                  -->
                  <!--
                  <button *ngIf="canEditOrDeleteView()" mat-menu-item (click)="editViewQuery()">
                    <mat-icon>search</mat-icon>
                    <span>Edit View Query</span>
                  </button>
                  -->
                  <mat-divider></mat-divider>
                  <button mat-menu-item (click)="onRefreshClick()">
                    <mat-icon>refresh</mat-icon>
                    <span>Refresh</span>
                  </button>
                </mat-menu>
             </nav>
          </div>
      </nav>
  </div>
  <div fxFlexFill>
    <div fxLayoutAlign="center center" *ngIf="item" fxFlexFill fxLayout="column">
      <!-- <app-rn-query-view *ngIf="query"></app-rn-query-view> -->
      <div *ngIf="controls.length > 0" fxFlexFill>
        <div [fxLayout.gt-sm]="layout"  fxLayout="column" fxLayoutGap="1%" fxFlexFill>
          <div *ngFor="let child of controls; let index = index" fxFlex="1 0 auto">
              <div fxFlex *ngIf="formGroup">
                <app-rn-ctrl [control]="child" [item]="item" (onRefresh)="childRefresh()" (onItems)="childItems($event)" [formGroup]="formGroup"  [events]="events" [tabIndex]="tabIndex">
                </app-rn-ctrl>
              </div>
              <div fxFlexFill *ngIf="!formGroup">
                <app-rn-ctrl [control]="child" [item]="item" (onRefresh)="childRefresh()" (onItems)="childItems($event)" [events]="events" [tabIndex]="tabIndex">
                </app-rn-ctrl>
              </div>
          </div>
        </div>
      </div>
      <div *ngIf="(views.length > 1) && !shouldShowViewsAsItems(item)" class="tab-group-container" fxFlexFill>
          <mat-tab-group [selectedIndex]="selectedView.value" dynamicHeight mat-align-tabs="center" backgroundColor="primary"
                       (selectedTabChange)="onChangeTab($event)"
                       (selectedIndexChange)="selectedView.setValue($event)">
  
          <mat-tab *ngFor="let view of views; let index = index" [label]="view!.name!" fxFlexFill>
            <ng-template mat-tab-label>
              <mat-icon class="tab-icon">{{getIcon(view)}}</mat-icon>
              {{view.name}}
              <button mat-icon-button  *ngIf="canEditOrDeleteView()" [matMenuTriggerFor]="viewMenu"><mat-icon>more_vert</mat-icon></button>
              <mat-menu #viewMenu="matMenu" xPosition="before">
                <button  mat-menu-item (click)="editView()">
                  <mat-icon>edit</mat-icon>
                  <span>Edit</span>
                </button>
                <button *ngIf="canEditOrDeleteView()" mat-menu-item (click)="deleteView()">
                  <mat-icon>delete</mat-icon>
                  <span>Delete</span>
                </button>
              </mat-menu>
            </ng-template>
            <ng-container>
              <app-rn-view [items]="children" [view]="view" [item]="item" [events]="eventsSubject.asObservable()" [tabIndex]="index" (onEvent)="onItemEvent($event)" (onRefresh)="refreshView()" (onItems)="refreshItems($event)"></app-rn-view>
            </ng-container>
          </mat-tab>
        </mat-tab-group>
      </div>
      <div *ngIf="(views.length === 1)  && !shouldShowViewsAsItems(item)" fxFlexFill>
        <app-rn-view [items]="children" [view]="views[0]" [item]="item" (onEvent)="onItemEvent($event)" (onRefresh)="refreshView()" [events]="eventsSubject.asObservable()"></app-rn-view>
      </div>
  
      <div *ngIf="(views.length === 0) || shouldShowViewsAsItems(item)" fxFlexFill>
        <div [ngSwitch]="item!.type!.name!" fxFlexFill>
          <div *ngSwitchCase="'Image'" fxFlexFill>
            <app-rn-image-view [items]="children" [item]="item" (onEvent)="onItemEvent($event)" (onRefresh)="refreshView()"   (onItems)="refreshItems($event)" [events]="eventsSubject.asObservable()"></app-rn-image-view>
          </div>
          <div *ngSwitchCase="'Document'" fxFlexFill>
            <app-rn-document-view [items]="children" [item]="item" (onEvent)="onItemEvent($event)" (onRefresh)="refreshView()"   (onItems)="refreshItems($event)" [events]="eventsSubject.asObservable()"></app-rn-document-view>
          </div>
          <div *ngSwitchCase="'Page'" fxFlexFill>
            <app-rn-page-view [items]="children" [item]="item" (onEvent)="onItemEvent($event)" (onRefresh)="refreshView()"   (onItems)="refreshItems($event)" [events]="eventsSubject.asObservable()"></app-rn-page-view>
          </div>
          <div *ngSwitchCase="'Video'" fxFlexFill>
            <app-rn-video-view [items]="children" [item]="item" (onEvent)="onItemEvent($event)" (onRefresh)="refreshView()"   (onItems)="refreshItems($event)" [events]="eventsSubject.asObservable()"></app-rn-video-view>
          </div>
          <div *ngSwitchDefault fxFlexFill>
            <div *ngIf="children.length > 0" fxFlexFill>
              <app-rn-list-view [items]="children"  (onEvent)="onItemEvent($event)" (onRefresh)="refreshView()"   (onItems)="refreshItems($event)" [events]="eventsSubject.asObservable()"></app-rn-list-view>
            </div>
            <div *ngIf="children.length === 0" fxFlexFill>
              <app-rn-card-view [items]="children" [view]="getItemDefaultView(item)" [item]="item" (onEvent)="onItemEvent($event)" (onRefresh)="refreshView()"  (onItems)="refreshItems($event)" [events]="eventsSubject.asObservable()"></app-rn-card-view>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div *ngIf="!item">
      ...
  </div>
  </div>
</div>

