.map-container
    width: 600px
    max-width: 600px
    height: 600px
    max-height: 600px

.map-element
    width: 100%
    max-width: 400px
    height: 100%
    max-height: 400px


.mapboxgl-canvas
  width: 400 !important
  height: 400 !important
  left: 0

.view-container
  position: relative
  