.map-container
    top: 0
    left: 0
    width: 100px
    height: 100px
    position: absolute

.map-element
    height: 100px
    width: 100px
    background-color: #13df79

.mapboxgl-canvas
  left: 0

.view-container
  position: relative
  height: 90vh