.example-form {
  min-width: 487px;
  max-width: 487px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.full {
  width: 100%;
}

.query {
  /* max-width: 320px; */
}

.toolbar {
  height: 64px;
  max-height: 64px;
}

.embed-parent {
  display: flex;
  justify-content: center;
  min-height: 400px;
  min-width: 400px;
}
.embed-parent .iframely-embed {
  width: 100%;
}

.iframely-responsive {
  top: 0; left: 0; width: 100%; height: 0;
  position: relative; padding-bottom: 56.25%;
}
.iframely-responsive>* {
  top: 0; left: 0; width: 100%; height: 100%; position: absolute; border: 0;
}

mgl-map {
  position: relative;
  top: 0;
  left: 0;
  height: 400px;
  width: 300px;
}


.content-panel {
  width: 96%;
}

.view-tabs {
  width: 96%;
}

.tab-icon {
  margin-right: 8px;
}

.upload-progress {
  padding-top: 30px;
  width: 50vw;
}


