<ng-container *ngIf="!button">
    <div fxFlex fxLayoutAlign="center center" *ngIf="isLoggedIn()">
        <button mat-mini-fab color="primary" (click)="doLogin()"><mat-icon>key</mat-icon></button>
    </div>
    <div fxFlex fxLayoutAlign="center center" *ngIf="!isLoggedIn()">
        <button mat-mini-fab color="primary" (click)="doLogout()"><mat-icon>key_off</mat-icon></button>
    </div>
</ng-container>
<ng-container *ngIf="button">
    <button mat-menu-item color="primary" (click)="doLogin()" *ngIf="!isLoggedIn()"><mat-icon>key</mat-icon><span>Login</span></button>
    <button mat-menu-item color="primary" (click)="doLogout()" *ngIf="isLoggedIn()"><mat-icon>key_off</mat-icon><span>Logout</span></button>
</ng-container>

