//.table-container
//    overflow-x: auto


.mat-table
  //min-width: auto !important
  width: 100% !important
//  table-layout: auto
//  border-collapse: collapse

td, th
  text-align: center !important
  vertical-align: middle !important
  min-width: auto !important

.mat-column-icon
  min-width: 32px
  width: 32px

.mat-column-name
  min-width: 256px
  width: 256px

.mat-column-tags
  min-width: 64px
  width: 64px

.mat-column-name
  min-width: 32px
  width: 32px

.mat-column-menu
  min-width: 32px
  width: 32px
