<div fxLayout="row" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
<ng-container [ngSwitch]="view.type['name']" *ngIf="!loading">
  <mat-card>
    <mat-card-subtitle>{{item.type.name}}</mat-card-subtitle>
    <mat-card-title>
      <div fxLayout="row" fxLayoutGap="16px">
        <div fxLayout="column">{{item.name}}</div>
        <div fxLayout="column" fxFlex fxLayoutAlign="end center"  fxFlex="1 1 2%">
          <button mat-icon-button color="primary" [matMenuTriggerFor]="menuMore"><mat-icon>more_vert</mat-icon></button>
        </div>
      </div>
    </mat-card-title>

    <mat-card-content>
      <div *ngIf="item && items.length === 0">
        <app-item-content [item]="item"></app-item-content>
      </div>
      <div *ngIf="item && items.length > 0 && views.length === 1">
        <div fxLayout="row wrap" class="card-deck-container" fxLayoutAlign="center center" *ngSwitchCase="'CardsView'">
          <app-card-view [items]="items" (onRefresh)="refresh()"></app-card-view>
        </div>
        <div *ngSwitchCase="'ListView'">
          <app-list-view [items]="items" (onRefresh)="refresh()"></app-list-view>
        </div>
        <div *ngSwitchCase="'MapView'">
          <app-map-view [item]="item"  [items]="items" [events]="eventsSubject.asObservable()" (centerChanged)="onCenterChanged($event)"></app-map-view>
        </div>
        <div *ngSwitchCase="'CalendarView'">
          <app-calendar-view [items]="items" (onRefresh)="refresh()" (onAdd)="add($event)"></app-calendar-view>
        </div>
        <div *ngSwitchCase="'BoardView'" >
          <app-board-view [items]="items" (onRefresh)="refresh()"></app-board-view>
        </div>
        <div *ngSwitchCase="'PanelView'">
          <app-panel-view></app-panel-view>
        </div>
        <div *ngSwitchCase="'SceneView'">
          <app-scene-view></app-scene-view>
        </div>
        <div *ngSwitchDefault>
          <app-list-view [items]="items" (onRefresh)="refresh()"></app-list-view>
        </div>
      </div>
      <div *ngIf="item && items.length > 0 && views.length > 1">
        <mat-tab-group [selectedIndex]="selectedView.value" class="view-tabs"
                       (selectedTabChange)="onChangeTab($event)"
                       (selectedIndexChange)="selectedView.setValue($event)" *ngIf="views.length > 1">

          <mat-tab *ngFor="let view of views; let index = index" [label]="view.name">
            <ng-template mat-tab-label>
              <mat-icon class="tab-icon">{{view.icon}}</mat-icon>
              {{view.name}}
              <button mat-icon-button color="primary" *ngIf="allowEditingViews" [matMenuTriggerFor]="viewMenu"><mat-icon>more_vert</mat-icon></button>
              <mat-menu #viewMenu="matMenu" xPosition="before">
                <button  mat-menu-item (click)="onEditView(index)">
                  <mat-icon>edit</mat-icon>
                  <span>Edit</span>
                </button>
                <button *ngIf="allowEditingViews" mat-menu-item (click)="onDeleteView(index)">
                  <mat-icon>delete</mat-icon>
                  <span>Delete</span>
                </button>
              </mat-menu>
            </ng-template>
            <ng-container [ngSwitch]="view.type['name']">
              <div fxLayout="row wrap" class="card-deck-container" fxLayoutAlign="center center" *ngSwitchCase="'CardsView'">
                <app-card-view [items]="items" (onRefresh)="refresh()"></app-card-view>
              </div>
              <div *ngSwitchCase="'ListView'">
                <app-list-view [items]="items" (onRefresh)="refresh()"></app-list-view>
              </div>
              <div *ngSwitchCase="'MapView'">
                <app-map-view  [items]="items"  (centerChanged)="onCenterChanged($event)"></app-map-view>
              </div>
              <div *ngSwitchCase="'CalendarView'">
                <app-calendar-view [items]="items" (onRefresh)="refresh()" ></app-calendar-view>
              </div>
              <div *ngSwitchCase="'BoardView'" >
                <app-board-view [items]="items" (onRefresh)="refresh()"></app-board-view>
              </div>
              <div *ngSwitchDefault>
                View not supported
              </div>
            </ng-container>
          </mat-tab>
        </mat-tab-group>
      </div>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
      <!-- <button mat-button>LIKE</button>
      <button mat-button>SHARE</button> -->
    </mat-card-actions>
    <mat-card-footer>
      <!--<mat-progress-bar mode="indeterminate"></mat-progress-bar>-->
      <div fxLayout="row" fxLayoutAlign="center center" *ngIf="!loading && items">
        <div class="paginator mat-elevation-z4" *ngIf="items.length !== 0">
          <mat-paginator
            [length]="paginatorSize"
            [pageSize]="numberOfProductsDisplayedInPage"
            [pageSizeOptions]="[12, 24]"
            (page)="updateProductsDisplayedInPage($event)">
          </mat-paginator>
        </div>
      </div>
    </mat-card-footer>
  </mat-card>

</ng-container>
<mat-menu #menuMore="matMenu" xPosition="before">
  <button *ngIf="canAddItem()" mat-menu-item (click)="onAdd($event)">
    <mat-icon>add</mat-icon>
    <span>Add Item</span>
  </button>
  <button *ngIf="canAddView()" mat-menu-item (click)="onAddView($event)">
    <mat-icon>add</mat-icon>
    <span>Add View</span>
  </button>
  <button *ngIf="canEditOrDeleteItem()" mat-menu-item (click)="onEdit($event)">
    <mat-icon>edit</mat-icon>
    <span>Edit</span>
  </button>
  <button *ngIf="canEditOrDeleteItem()" mat-menu-item (click)="onDelete($event)">
    <mat-icon>delete</mat-icon>
    <span>Delete</span>
  </button>
  <button mat-menu-item (click)="onRefreshClick()">
    <mat-icon>refresh</mat-icon>
    <span>Refresh</span>
  </button>
</mat-menu>
