<div *ngIf="item && control" fxFlexFill fxLayoutAlign="center center">
    <mat-form-field appearance="fill" fxFlex>
        <mat-label>{{control.name!}}</mat-label>
        <ng-container *ngIf="control.attributes!['password'] === 'true'">
            <input matInput type="password" placeholder="" [formControl]="formControl">
        </ng-container>
        <ng-container *ngIf="control.attributes!['password'] !== 'true'">
            <input matInput placeholder="" type="text" [formControl]="formControl">
        </ng-container>
    </mat-form-field>
</div>
