.example-form {
  /*min-width: 487px;
  max-width: 487px;*/
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.full {
  width: 100%;
}

.toolbar {
  height: 64px;
  max-height: 64px;
}

.example-container {
  height: 100%
}

.card-item {
  padding: 3px 3px 3px 3px;
}

.card-deck-container {
  margin: 10px 0px;
}

.upload-progress {
  padding-top: 30px;
  width: 50vw;
}