<div fxFlexFill fxLayoutAlign="center center">
  <mat-form-field appearance="fill" fxFlex>
    <mat-label>Tags</mat-label>
    <mat-chip-list #chipListTags aria-label="Tag selection" [formControl]="formControl">
      <mat-chip *ngFor="let tag of tags" (removed)="remove(tag)">
        {{tag.name}}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input placeholder="New tag..."
             [matChipInputFor]="chipListTags"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
  </mat-form-field>
</div>

