<div fxLayout="column">
  <form [formGroup]="queryForm">
    <div fxLayout="row">
      <mat-form-field class="example-full-width">
        <mat-label>Search</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field class="example-chip-list">
        <mat-chip-list #chipListTypes aria-label="Types">
          <mat-chip *ngFor="let fruit of query.types" [selectable]="selectable"
                    [removable]="removable" (removed)="removeType(fruit)">
            {{fruit}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="Types"
                 [matAutocomplete]="auto"
                 [matChipInputFor]="chipListTypes"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
                 (matChipInputTokenEnd)="addType($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let type of filteredTypes | async" [value]="type.name">
            {{type.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field class="example-chip-list">
        <mat-chip-list #chipListTags aria-label="Tags">
          <mat-chip *ngFor="let fruit of query.tags" [selectable]="selectable"
                    [removable]="removable" (removed)="removeTag(fruit)">
            {{fruit}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="Tags"
                 [matChipInputFor]="chipListTags"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
                 (matChipInputTokenEnd)="addTag($event)">
        </mat-chip-list>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutGap="15px">
      <mat-slide-toggle formControlName="public">Public</mat-slide-toggle>
      <mat-slide-toggle *ngIf="loggedIn" formControlName="myItems">My Items</mat-slide-toggle>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="12px" class="location-bar">
      <div fxFlex>Location</div>
      <div fxFlex>
        <mat-button-toggle-group #group="matButtonToggleGroup" [(value)]="locationMode" (valueChange)="onLocationModeChanged($event)">
          <mat-button-toggle value="any" aria-label="Any" (click)="onAny()">
            Any
          </mat-button-toggle>
          <mat-button-toggle value="current" aria-label="Current"  (click)="onCurrent()">
            Current
          </mat-button-toggle>
          <mat-button-toggle value="custom" aria-label="Custom" (click)="onLocation()">
            Custom
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <!-- <button mat-raised-button color="primary" (click)="onLocation()">Select</button> -->
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="12px" *ngIf="group.value ==='current' || group.value === 'custom'">
      <mat-form-field class="example-full-width">
        <mat-label>Latitude</mat-label>
        <input matInput formControlName="lat">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Longitude</mat-label>
        <input matInput formControlName="lng">
      </mat-form-field>
    </div>
    <div fxLayout="row" class="location-bar" fxLayoutAlign="center center"  fxLayoutGap="12px"  *ngIf="group.value ==='current' || group.value === 'custom'">
      <mat-label>Range (mtrs)</mat-label>
      <mat-slider 
      thumbLabel
      [displayWith]="formatLabel"
      tickInterval="100"
      min="10"
      max="1000" formControlName="radius"></mat-slider>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="12px">
      <button mat-raised-button color="primary" (click)="onCloseClicked()">Close</button>
      <button mat-raised-button color="primary" (click)="onSaveClicked()">Save</button>
      <button mat-raised-button color="primary" (click)="onRunClicked()">Run</button>
    </div>
  </form>
</div>
