<ng-container>
    <div fxLayout="column" fxFlexFill>
      <div fxLayout="row" fxLayoutAlign="center center">
        <div>
          <button mat-mini-fab color="primary" mwlCalendarPreviousView [(viewDate)]="viewDate" [view]="calendarView"><mat-icon>fast_rewind</mat-icon></button>
        </div>
        <div>
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
            <mat-button-toggle (click)="setView(Month)" [value]="'month'"><mat-icon>view_module</mat-icon></mat-button-toggle>
            <mat-button-toggle (click)="setView(Week)" [value]="'week'"><mat-icon>view_week</mat-icon></mat-button-toggle>
            <mat-button-toggle (click)="setView(Day)" [value]="'day'"><mat-icon>view_day</mat-icon></mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div>
          <h6>{{ viewDate | calendarDate:(calendarView + 'ViewTitle'):'en' }}</h6>
        </div>
        <!-- <div style="width:1px;visibility:hidden;">
          <input matInput [matDatepicker]="picker" [(ngModel)]="viewDate"> 
          <mat-datepicker #picker></mat-datepicker>
        </div>
        <div>
          <button mat-mini-fab color="primary" (click)="picker.open()"><mat-icon>today</mat-icon></button>
        </div>-->
        <div>
          <button mat-mini-fab color="primary" mwlCalendarNextView [(viewDate)]="viewDate" [view]="calendarView"><mat-icon>fast_forward</mat-icon></button>
        </div>
      </div>
      <div [ngSwitch]="calendarView">
        <mwl-calendar-month-view
          *ngSwitchCase="'month'"
          [viewDate]="viewDate"
          [events]="calendarEvents"
          [activeDayIsOpen]="activeDayIsOpen"
          (dayClicked)="onCalendarClick($event.day)"
          (eventClicked)="onItemClick($event.event)"
        >
        </mwl-calendar-month-view>
        <mwl-calendar-week-view
          *ngSwitchCase="'week'"
          [viewDate]="viewDate"
          [events]="calendarEvents"
          (dayHeaderClicked)="onCalendarClick($event)"
          (hourSegmentClicked)="onCalendarClick($event)"
          (eventClicked)="onItemClick($event.event)"
        >
        </mwl-calendar-week-view>
        <mwl-calendar-day-view
          *ngSwitchCase="'day'"
          [viewDate]="viewDate"
          [events]="calendarEvents"
          (hourSegmentClicked)="onCalendarClick($event)"
          (eventClicked)="onItemClick($event.event)"
        >
        </mwl-calendar-day-view>
      </div>
    </div>
  </ng-container>