<h1 mat-dialog-title fxLayoutAlign="center center">Schedule</h1>
<div mat-dialog-content fxLayoutAlign="center center" fxLayout="column">
  <mat-label>From:</mat-label>
  <mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="datepicker1" [(ngModel)]="dateFrom">
    <mat-datepicker-toggle matSuffix [for]="datepicker1"></mat-datepicker-toggle>
    <mat-datepicker #datepicker1></mat-datepicker>
  </mat-form-field>
  <div>
    <!-- ngx-timepicker-field [format]="24"  [(ngModel)]="timeFrom"></!>-->
  </div>
  <!--
  <mat-form-field>
    <mat-label>Choose a time</mat-label>
    <input matInput [(ngModel)]="timeFrom" placeholder="12hr format (default settings)" aria-label="12hr format" [ngxTimepicker]="timepicker1" readonly>
    <ngx-material-timepicker #timepicker1></ngx-material-timepicker>
  </mat-form-field>
  -->
  <mat-divider [inset]="true"></mat-divider>
  <mat-label>To:</mat-label>
  <mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="datepicker2">
    <mat-datepicker-toggle matSuffix [for]="datepicker2"></mat-datepicker-toggle>
    <mat-datepicker #datepicker2></mat-datepicker> -->
  </mat-form-field>
  <div>
    <!-- <ngx-timepicker-field [format]="24"  [(ngModel)]="timeTo"></ngx-timepicker-field> -->
  </div>
  <!--
  <mat-form-field>
    <mat-label>Choose a time</mat-label>
    <input matInput [(ngModel)]="timeTo" placeholder="12hr format (default settings)" aria-label="12hr format" [ngxTimepicker]="timepicker2" readonly>
    <ngx-material-timepicker #timepicker2></ngx-material-timepicker>
  </mat-form-field>
  -->
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onClearClick()">Clear</button>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button (click)="onOkClick()" cdkFocusInitial>Ok</button>
</div>
