
<div fxFlex fxLayoutAlign="center center" *ngIf="control">
    <!-- <app-rn-query-view *ngIf="query"></app-rn-query-view> -->
    <ng-container *ngIf="controls.length > 0">
        <div [fxLayout]="layout" [fxLayoutGap]="gap" [fxLayoutAlign]="align" fxFlex>
            <ng-container *ngFor="let child of controls; let index = index">
                <ng-container [ngSwitch]="child!.type!.name!">
                    <div [fxFlex]="getControlAttribute('flex', '1 1 100%', child)"
                    [fxFlexOffset]="getControlAttribute('offset', '1%', child)"
                    [fxFlexAlign]="getControlAttribute('align', 'center', child)" class="ctrlcontainer">
                        <ng-container *ngSwitchCase="'AttrsCtrl'">
                            <ng-container *ngIf="formGroup">
                                <app-rn-attrs-ctrl [item]="item" [control]="child" [formGroup]="formGroup"  [events]="events" [tabIndex]="tabIndex"></app-rn-attrs-ctrl>
                            </ng-container>
                            <ng-container *ngIf="!formGroup">
                                <app-rn-attrs-ctrl [item]="item" [control]="child"  [events]="events" [tabIndex]="tabIndex"></app-rn-attrs-ctrl>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'SelectCtrl'">
                            <ng-container *ngIf="formGroup">
                                <app-rn-select-ctrl [item]="item" [control]="child" [formGroup]="formGroup"  [events]="events" [tabIndex]="tabIndex"></app-rn-select-ctrl>
                            </ng-container>
                            <ng-container *ngIf="!formGroup">
                                <app-rn-select-ctrl [item]="item" [control]="child"  [events]="events" [tabIndex]="tabIndex"></app-rn-select-ctrl>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'ItemSelectCtrl'">
                            <ng-container *ngIf="formGroup">
                                <app-rn-item-select-ctrl [item]="item" [control]="child" [formGroup]="formGroup"  [events]="events" [tabIndex]="tabIndex"></app-rn-item-select-ctrl>
                            </ng-container>
                            <ng-container *ngIf="!formGroup">
                                <app-rn-item-select-ctrl [item]="item" [control]="child"  [events]="events" [tabIndex]="tabIndex"></app-rn-item-select-ctrl>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'TypeSelectCtrl'">
                            <ng-container *ngIf="formGroup">
                                <app-rn-type-select-ctrl [item]="item" [control]="child" [formGroup]="formGroup"  [events]="events" [tabIndex]="tabIndex"></app-rn-type-select-ctrl>
                            </ng-container>
                            <ng-container *ngIf="!formGroup">
                                <app-rn-type-select-ctrl [item]="item" [control]="child"  [events]="events" [tabIndex]="tabIndex"></app-rn-type-select-ctrl>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'TreeCtrl'">
                            <ng-container *ngIf="formGroup">
                                <app-rn-tree-ctrl  [item]="item" [control]="child"  [formGroup]="formGroup"  [events]="events" [tabIndex]="tabIndex"></app-rn-tree-ctrl>
                            </ng-container>
                            <ng-container *ngIf="!formGroup">
                                <app-rn-tree-ctrl  [item]="item" [control]="child"  [events]="events" [tabIndex]="tabIndex"></app-rn-tree-ctrl>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'QueryCtrl'">
                            <ng-container *ngIf="formGroup">
                                <app-rn-query-ctrl  [item]="item" [control]="child" [formGroup]="formGroup"  [events]="events" [tabIndex]="tabIndex"></app-rn-query-ctrl>
                            </ng-container>
                            <ng-container *ngIf="!formGroup">
                                <app-rn-query-ctrl  [item]="item" [control]="child"  [events]="events" [tabIndex]="tabIndex"></app-rn-query-ctrl>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'EditCtrl'">
                            <ng-container *ngIf="formGroup">
                                <app-rn-edit-ctrl  [item]="item" [control]="child"  [formGroup]="formGroup"  [events]="events" [tabIndex]="tabIndex"></app-rn-edit-ctrl>
                            </ng-container>
                            <ng-container *ngIf="!formGroup">
                                <app-rn-edit-ctrl  [item]="item" [control]="child"  [events]="events" [tabIndex]="tabIndex"></app-rn-edit-ctrl>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'LocationCtrl'">
                            <ng-container *ngIf="formGroup">
                                <app-rn-location-ctrl  [item]="item" [control]="child"  [formGroup]="formGroup"  [events]="events" [tabIndex]="tabIndex"></app-rn-location-ctrl>
                            </ng-container>
                            <ng-container *ngIf="!formGroup">
                                <app-rn-location-ctrl  [item]="item" [control]="child"  [events]="events" [tabIndex]="tabIndex"></app-rn-location-ctrl>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'TagsCtrl'">
                            <ng-container *ngIf="formGroup">
                                <app-rn-tags-ctrl  [item]="item" [control]="child"  [formGroup]="formGroup"  [events]="events" [tabIndex]="tabIndex"></app-rn-tags-ctrl>
                            </ng-container>
                            <ng-container *ngIf="!formGroup">
                                <app-rn-tags-ctrl  [item]="item" [control]="child"  [events]="events" [tabIndex]="tabIndex"></app-rn-tags-ctrl>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'TypesCtrl'">
                            <ng-container *ngIf="formGroup">
                                <app-rn-types-ctrl  [item]="item" [control]="child"  [formGroup]="formGroup"  [events]="events" [tabIndex]="tabIndex"></app-rn-types-ctrl>
                            </ng-container>
                            <ng-container *ngIf="!formGroup">
                                <app-rn-types-ctrl  [item]="item" [control]="child"  [events]="events" [tabIndex]="tabIndex"></app-rn-types-ctrl>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'DateCtrl'">
                            <ng-container *ngIf="formGroup">
                                <app-rn-date-ctrl   [item]="item" [control]="child"  [formGroup]="formGroup"  [events]="events" [tabIndex]="tabIndex"></app-rn-date-ctrl>
                            </ng-container>
                            <ng-container *ngIf="!formGroup">
                                <app-rn-date-ctrl   [item]="item" [control]="child"  [events]="events" [tabIndex]="tabIndex"></app-rn-date-ctrl>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'LabelCtrl'">
                            <ng-container *ngIf="formGroup">
                                <app-rn-label-ctrl [item]="item" [control]="child" [formGroup]="formGroup"  [events]="events" [tabIndex]="tabIndex"></app-rn-label-ctrl>
                            </ng-container>
                            <ng-container *ngIf="!formGroup">
                                <app-rn-label-ctrl [item]="item" [control]="child"  [events]="events" [tabIndex]="tabIndex"></app-rn-label-ctrl>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'FormCtrl'">
                            <ng-container *ngIf="formGroup">
                                <app-rn-form-ctrl [item]="item" [control]="child" [formGroup]="formGroup"  [events]="events" [tabIndex]="tabIndex"></app-rn-form-ctrl>
                            </ng-container>
                            <ng-container *ngIf="!formGroup">
                                <app-rn-form-ctrl [item]="item" [control]="child"  [events]="events" [tabIndex]="tabIndex"></app-rn-form-ctrl>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'FuncCtrl'">
                            <ng-container *ngIf="formGroup">
                                <app-rn-func-ctrl [item]="item" [control]="child" [formGroup]="formGroup"  [events]="events" [tabIndex]="tabIndex"></app-rn-func-ctrl>
                            </ng-container>
                            <ng-container *ngIf="!formGroup">
                                <app-rn-func-ctrl [item]="item" [control]="child"  [events]="events" [tabIndex]="tabIndex"></app-rn-func-ctrl>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'ItemCtrl'">
                            <ng-container *ngIf="formGroup">
                                <app-rn-item-ctrl  [item]="item" [control]="child" [formGroup]="formGroup"  [events]="events" [tabIndex]="tabIndex"></app-rn-item-ctrl>
                            </ng-container>
                            <ng-container *ngIf="!formGroup">
                                <app-rn-item-ctrl  [item]="item" [control]="child"  [events]="events" [tabIndex]="tabIndex"></app-rn-item-ctrl>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'UploadCtrl'">
                            <ng-container *ngIf="formGroup">
                                <app-rn-upload-ctrl  [item]="item" [control]="child"  [formGroup]="formGroup"  [events]="events" [tabIndex]="tabIndex"></app-rn-upload-ctrl>
                            </ng-container>
                            <ng-container *ngIf="!formGroup">
                                <app-rn-upload-ctrl  [item]="item" [control]="child"  [events]="events" [tabIndex]="tabIndex"></app-rn-upload-ctrl>
                            </ng-container>
                        </ng-container>
                        <div *ngSwitchDefault>
                            <div *ngIf="isButton(child)">
                                <ng-container *ngIf="formGroup">
                                    <app-rn-button-ctrl [item]="item" [control]="child" [formGroup]="formGroup"  [events]="events" [tabIndex]="tabIndex"></app-rn-button-ctrl>
                                </ng-container>
                                <ng-container *ngIf="!formGroup">
                                    <app-rn-button-ctrl [item]="item" [control]="child"  [events]="events" [tabIndex]="tabIndex"></app-rn-button-ctrl>
                                </ng-container>
                            </div>
                            <div *ngIf="isForm(child)">
                                <ng-container *ngIf="formGroup">
                                    <app-rn-form-ctrl [item]="item" [control]="child"  [formGroup]="formGroup"  [events]="events" [tabIndex]="tabIndex"></app-rn-form-ctrl>
                                </ng-container>
                                <ng-container *ngIf="!formGroup">
                                    <app-rn-form-ctrl [item]="item" [control]="child"  [events]="events" [tabIndex]="tabIndex"></app-rn-form-ctrl>
                                </ng-container>
                            </div>
                            <div *ngIf="isTabs(child)">
                                <ng-container *ngIf="formGroup">
                                    <app-rn-tabs-ctrl  [item]="item" [control]="child" [formGroup]="formGroup"  [events]="events" [tabIndex]="tabIndex"></app-rn-tabs-ctrl>
                                </ng-container>
                                <ng-container *ngIf="!formGroup">
                                    <app-rn-tabs-ctrl  [item]="item" [control]="child"  [events]="events" [tabIndex]="tabIndex"></app-rn-tabs-ctrl>
                                </ng-container>
                            </div>
                            <div *ngIf="!isButton(child) && !isForm(child) && !isTabs(child)">
                                Control: {{child!.type!.name!}}
                            </div>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </ng-container>
</div>
<div *ngIf="!control">
    ...
</div>

  
  