<!--
<div class="full-main">
  <div fxLayout="row">
    <nav mat-tab-nav-bar fxFlex="0 0 auto">
      <a mat-tab-link
         *ngFor="let link of navLinks"
         [routerLink]="link.link"
         routerLinkActive #rla="routerLinkActive"
         [active]="rla.isActive">
        {{link.label}}
      </a>
    </nav>
    <div fxFlex="1 1 95%"></div>
    <div fxLayoutAlign="center center">
      <span><button mat-flat-button *ngIf="!loggedIn" (click)="login()">Log In</button></span>
      <span><button mat-flat-button *ngIf="loggedIn" [matMenuTriggerFor]="menu">{{username}}<mat-icon>keyboard_arrow_down</mat-icon></button></span>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="account()">
          <mat-icon>account_circle</mat-icon>
          <span>Account</span>
        </button>
        <button mat-menu-item  (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Log Out</span>
        </button>
      </mat-menu>
    </div>
  </div>
</div>
-->
<router-outlet></router-outlet>


