<mat-form-field fxFlexFill appearance="fill">
    <mat-label>Types</mat-label>
    <mat-chip-list #chipListTypes aria-label="Type selection" [formControl]="formControl">
      <mat-chip *ngFor="let type of types" (removed)="remove(type)">
        {{type.name}}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input placeholder="New type..."
             [matChipInputFor]="chipListTypes"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
  </mat-form-field>