<div fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
  <div fxFlex="1 0 auto">
    <button *ngIf="!isLink() && !isItemLink()" mat-button [routerLink]="['/items', item.id]"><mat-icon>{{item.type.icon}}</mat-icon>{{item.name}}</button>
    <button *ngIf="isLink() && isItemLink()" mat-button [routerLink]="['/items', getLinkedItemId()]"><mat-icon>{{item.type.icon}}</mat-icon>{{item.name}}</button>
    <a *ngIf="isLink() && !isItemLink()" mat-button [href]="getLink()" target="_blank"><mat-icon>{{item.type.icon}}</mat-icon>{{item.name}}</a>
  </div>
  <div fxFlex>

  </div>
  <div fxFlex="0 1 5%">
    <button mat-button [matMenuTriggerFor]="menuMore"><mat-icon class="menu">more_vert</mat-icon></button>
    <mat-menu #menuMore="matMenu">
      <button mat-menu-item (click)="editDialog()">
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
      </button>
      <button mat-menu-item  (click)="deleteDialog()">
        <mat-icon>delete_forever</mat-icon>
        <span>Delete</span>
      </button>
      <button mat-menu-item  (click)="onQRCode()">
        <mat-icon>qr_code</mat-icon>
        <span>QRCode</span>
      </button>
    </mat-menu>
  </div>
</div>
